@import "_base";

#block-number {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 4rem;
  font-weight: bold;
  padding: 2em 0.25em 0;
  text-align:center;
}

#block-time {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 2rem;
  font-weight: bold;
  padding: 1em 0.25em 2em;
  text-align:center;
}
